#mySkill {
  overflow: hidden;
  width: 100vw;
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 15rem;
}

.skillTitle {
  font-size: 3rem;
  font-weight: 600;
  padding: 0.1rem;
  margin-bottom: 1rem;
}

.skillDesc {
  font-size: 1rem;
  font-weight: 400;
  max-width: 60rem;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.skillList {
  margin: 1rem;
  width: 100vw;
  max-width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.individualSkills {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(245, 241, 248);
  margin-right: 3rem;
  font-size: 1rem;
  font-weight: 300;
}

.IOSimage {
  object-fit: cover;
  height: 4rem;
  width: 4rem;
  margin: auto;
  margin-bottom: 1rem;
}

@media screen and (max-width: 720px) {
  .individualSkills > p {
    font-size: 2vw;
  }
}
